{% extends "layout.twig" %}

{% block content %}

<div class="bk-pt-homepage">
    
<div class="canvas clearfix">
    <div class="left">
        <header class="bk-header companyheader clearfix">
            {{widget('logo', 'desktoplogo', {"defaultlogo": asset('images/logo.png')})|raw}}
            {{widget('companyname', 'desktopcompanyname', {"business": "profile"})|raw}}
        </header>  
        {{widget('extendednavigation', 'navigationheader', {"align":"center"})|raw}}
        {{widget('companyaddress', 'desktopcompanyaddress', {})|raw}}
        {{widget('clicktocall', 'desktopclicktocall', {phoneText: '212 6574 6736'})|raw}}
    </div> <!-- end left -->

<div class="main wrapper clearfix">
    {{zone('main')|raw}}
</div>  <!-- end main -->

<footer class="bk-footer">
    <div class="wrapper clearfix">
        {{widget('content', 'footercolumn1content1', {"content":"<h2>Lorem Ipsum Dolor</h2>"})|raw}}
        {{widget('content', 'footercolumn1content2', {"content":"<p>Lorem Ipsum Dolor</p>"})|raw}}
        {{widget('content', 'footercolumn1content3', {"content":"<h2>Lorem Ipsum Dolor</h2>"})|raw}}
        {{widget('profile', 'footercolumn1socialicons', { 'profileType' : 'socialicons' })|raw}}
    </div>
</footer>

</div><!-- end canvas -->

</div>

{% endblock %}